.center-text {
	text-align: center;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #0D47A1;
    background-color: #0D47A1;
}

#padding-buttom{
	padding-bottom: 50em;
	margin-bottom: 100px;
}